.element-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: white;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
 }
  
  .element-item__title h2 {
    position: absolute;
    display: flex;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: #101828;
    font-weight: bold;
  }
  
  .element-item__text {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex: 1;
    color: #797E8B;
  }

  .element-item__picture {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 0 1rem;
    width: 204px;
    height: 62px;
    font-size: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(38, 38, 38, 0.04), 0px 4px 8px rgba(38, 38, 38, 0.16);
    border-radius: 6px;
    border-radius: 12px;
  }
  
  @media (min-width: 580px) {
    .element-item__text {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
  
    .element-item__title h2 {
      font-size: 1.25rem;
    }
  
    .element-item__picture {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }
  }
