
.first-block {
    position: absolute;
    width: 100%;
    height: 1057px;
    text-align: center;
    justify-content: center;
    align-items:stretch;
    background: #F3F7FF;
}


.first-block__circle1 {
    width: 700px;
    height: 700px;
    left: 1525px;
    top: -324px;
    right: 0px;
    background: #006EFF;
    filter: blur(350px)
}


.first-block__circle2 {
    bottom: 0px;
    width: 700px;
    height: 700px;
    left: -204px;
    top: 686px;
    background: #83A2FF;
    filter: blur(200px)
    
}


.first-block__title {
    position: relative;
    top: 132px;
    width: 692px;
    height: 46px;
    font-family: 'SB Sans Text';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
    margin: auto;
}


.first-block__text1 {
    position: relative;
    top: 194px;
    width: 692px;
    height: 46px;
    font-family: 'SB Sans Display';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #006EFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: auto;
}


