.second-block {
  position: absolute;
  width: 100%;
  top: 1058px;
  height: 473px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  font-family: 'Source Sans Pro';
  font-style: normal;
}

.second-block__container {
  display: flex;
  flex-direction: row;
  width: 1359px;
  height: 624px;
  margin-top: 79px;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  margin-left: 15%;
  white-space:pre-wrap;
}

.second-block__container__title{
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #101828;
  font-weight: bold;
}

.second-block__container__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #797E8B;
  margin-top: 16px;
}

.second-block__picture {
  width: 624px;
  height: 516px;
  box-sizing: content-box;
  border-radius: 20px;
}

.second-block__title {
  color: #1D293F;
  margin-top: 32px;
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.second-block__text {
  color: #797E8B;
  margin-top: 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.second-block__container__circles {
  background: #E2E9FD;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.second-block__button {
  margin-left: 50%;    
  width: 196px;
  height: 48px;
}

.second-block__text__block {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
}

.button2-position {
  margin-left: 45%;
}
