.list2-block {
    position:relative;
    width: auto;
}

.list2-item {
    display: flex;
    flex-direction: row;
    align-items:center;
    text-align: left;
    background-color: white;
    width: 617px;
    height: 122px;
    margin-top: 32px;
    border: 1px solid #D0D3DD;
    border-radius: 12px;
    font-family: 'SB Sans Text';
    font-style: normal;
 }
  
  .list2-item__title {
    color: #101828;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    align-self: baseline;
    margin-left: 16px;
    margin-top: 16px;
  }
  
  .list2-item__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #797E8B;
    margin: 16px;
    align-self: baseline;
    margin-left: 16px;
    margin-top: 8px;
  }

  .list2-item__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    margin-left: 16px;
  }

  .list2-item__icon {
    position: absolute;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

