.button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 40%;
    width: 165px;
    height: 32px;
    background: #006EFF;
    border: 1px solid #006EFF;
    border-radius: 6px;
}

.button__text {
    position: absolute;
    color: #FFFFFF;
    line-height: 16px;
    height: 16px;
}

.button__icon {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 12.5%;
    bottom: 12.5%;
    background: #FFFFFF;
}
