.card-block__elements2 {
    position:relative;
    width: auto;
    padding: 32px;
}

.element2-item {
    display: flex;
    justify-content:space-between;
    flex-direction: column-reverse;
    align-items:center;
    background-color: white;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
    width: 506px;
    height: 285px;
    border-radius: 20px;
 }
  

  .element2-item__title{
    color: #101828;
    font-weight: bold;
    font-weight: 600;
    align-self: baseline;
    padding: 20px;

  }

  .element2-item__picture {
    width: 506px;
    height: 229px;
    border-radius: 20px 20px 0px 0px;
    background: #F3F7FF;
  }
  