.element2-item {
    display: flex;
    justify-content:center;
    flex-direction: column-reverse;
    align-items:center;
    background-color: white;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
    width: 506px;
    height: 285px;
    border-radius: 20px;
 }
  
  .element2-item__text {
    color: #FFFFFF;
  }

  .element2-item__title h2 {
    color: #101828;
    font-weight: bold;
  }

  .element2-item__picture {
    width: 506px;
    height: 230px;
    background-color: #797E8B;
    border-radius: 20px;
  }
  