.loader,
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .loader {
  display: block;
}

/* Стилизация псевдокнопки */
.btn {
  display: inline-block;
  margin-bottom: 4px;
  padding: 4px 8px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  cursor: pointer;
}