.card {
    border-radius: 10px;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    gap: 32px;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    /*переименовать компонент card/blocks, переделать на flex, по горизонтали, вертикали*/
}