.card1 {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 32px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    /*переименовать компонент card/blocks, переделать на flex, по горизонтали, вертикали*/
}